@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*CSS Variable*/
:root{
     --primary-text-color:#183b56;
     --secondary-text-color:#577592;
     --accent-color:#2994ed;
     --accent-color-dark:#1d69a3;
     --padding-inline-section:20px;
}
body{
    font-family: "poppins",sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3cm;
}
h2{
    font-size: 2cm;
}
h3{
    font-size: 1.5cm;
}
p{
    font-size: 1.25cm;
    font-family:"roboto",sans-serif ;
    color: var(--secondary-text-color);
    line-height: 1.8 cm;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
.container{
    max-width: 1180;
    margin-inline: auto;
    padding-inline: ;
}
.flex{
    display: flex;
    align-items: center;
}
.top-banner{
    background-image: url("assets/asset 32.png") ;
    background-size : 300px;
    background-color:#4fb3d4;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 1cm;
    font-weight: 400;
}
.logo img{
    width: 200px;
}
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}
.hover-links ul {
    justify-content: end;
    gap: 40px;
}
.hover-link{
    color: var(--primary-text-color);
    text-transform: capitalize;
}
.hover-link:hover{
    color: var(--accent-color);
}
